@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  background-color: #020617; /* deep black / navy */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(231, 76, 60, 0.6);
  }
  70% {
    transform: scale(1.08);
    box-shadow: 0 0 0 12px rgba(231, 76, 60, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(231, 76, 60, 0);
  }
}

.pulse {
  animation: pulse 1.8s infinite;
}
